<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p> Statut : <%= @task.done ? "fait" : "à faire" %> <p>

<%= link_to "revenir au menu",tasks_path %>
<%= link_to "Delete", task_path(@task), method: :delete,
data: {confirm: "Are you sure?"} %>
<%= link_to "modifier", edit_task_path %>
